.galeria{
  background-color: blue;
  width: auto;
  height: 300px;
}

.idonto{
  background-color: green;
  width: auto;
  height: 300px;
}

.aseguradoras{
  background-color: yellow;
  width: auto;
  height: 300px;
}
